<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ post.title | title }}</h5>
    <p class="card-text">{{ post.content }}</p>
     <h5>{{ post.like_set.count }} Likes | 0 Comments</h5>
    <!----Likes--->
    <butoon href="#" class="btn btn-primary like" data=" {{post.id}}">Likes</butoon>
        <!-- comments -->
    <butoon href="#" class="btn btn-primary Comments" data="{{post.id}}">Comments</butoon><br><br>


    {% if post.id in likes %}
    <button href="#" class="btn btn-primary like" data="{{ post.id }}"> I Dislike this</button>
      {% else %}
    <button href="#" class="btn btn-primary like" data="{{ post.id }}"> I Like This</button>
      {% endif %}
  </div>
</div>

